@keyframes myanim{
	0%{
		background-color: red;
	}
	20%{
		transform: translate(600px, 300px);
		background-color: green;

	}
	40%{
		transform: translate(300px, -100px);
		border-radius: 500px;
	}
	60%{
		transform: skew(50deg, 20deg) rotate(-360deg) translate(-200px, 100px);
	}
	80%{
		transform: translate(50px, 50px);
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: scale(0.5);
	}
}#box{
	width: 100px;
	height: 100px;
	background-color: black;
	margin: 100px;
	animation: myanim 15s ease-in infinite alternate;
}